<div class='container d-flex my-5 justify-content-center'>
<div class=" align-self-center">
<h2 class='text-center'>Inscription</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control border' %>
  </div>
<br>
  <div class="field">
    <label>Mot de passe</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control border' %>
  </div>
<br>
  <div class="field">
    <label>Confirmation du mot de passe</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control border' %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "S'inscrire", class: 'btn btn-success btn-md btn-block' %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
</div>
</div>