<p><label>Nom d'utilisateur</label>
  <%= f.text_field :username, class:"form-control border" %></p>
<p><label>Prénom</label>
  <%= f.text_field :first_name, class:"form-control border" %></p>
<p><label>Nom</label>
  <%= f.text_field :last_name, class:"form-control border" %></p>
<p><label>Email</label>
  <%= f.text_field :email, class:"form-control border" %></p>
<p><label>Département</label><br>
  <%= f.select :department, @departement, {}, class:"form-control col-2 border pl-1" %></p>
<br>
<div class='form-check'>
  <%= f.check_box :name_display, class:"form-check-input" %>
  <label class="form-check-label ml-1">J'accepte que mon prénom et mon nom soient affichés sur le site</label>
</div>
<br>
<div class="form-check">
  <%= f.check_box :accept_mails, class:"form-check-input" %>
  <label class="form-check-label ml-1" >J'accepte de recevoir des emails et newsletters par courrier électronique. <br>
    Je prends connaissance de la Politique de Confidentialité du site Le Lobby.</label>
</div>
<br>
<button type='submit' class='btn btn-success'>Editer le profil</button>
