
<div class="container my-5">
	<div class="container m-auto">
		<div class="row mb-5">
			<div class="col-md-8">
				<h5 class="text-dark card-header border-0"> <%= @user.username %></h5><br/>
				<div class="card-body p-0">
					<table class="table table-sm">
						<tbody>
							<tr><td class="font-weight-bold text-muted">E-mail&#8239:</td><td vor><%= @user.email %></td></tr>
							<tr><td class="font-weight-bold text-muted">Prénom&#8239:</td><td><%= @user.first_name %></td></tr>
							<tr><td class="font-weight-bold text-muted">Nom&#8239:</td><td><%= @user.last_name %></td></tr>
							<tr><td class="font-weight-bold text-muted">Département&#8239:</td><td><%= @user.department %></td></tr>
							<tr><td class="font-weight-bold text-muted">Mouvements&#8239:</td><td><%= @user.commitments.count %></td></tr>
							<tr>
								<td class="font-weight-bold text-muted">Affichage de l'identité&#8239:</td>
								<% if @user.name_display == true %>
									<td>Nom et Prénom</td>
								<% else %>
									<td>Pseudonyme</td>
								<% end %>
							</tr>
							<tr><td class="font-weight-bold text-muted">Inscrit aux emails&#8239:</td>
								<% if @user.accept_mails %>
									<td>Oui</td></tr>
						<% else %>
							<td>Non</td></tr>
					<% end %>
					<tr><td class="font-weight-bold text-muted">Membre depuis&#8239:</td><td><%= @user.created_at.to_date.to_s(:long) %></td></tr>
						</tbody>
					</table>
				</div>



			</div>

			<div class="col-md-4"> 

				<div class="mb-2 float-right">
					<%= link_to 'Modifier votre profil', edit_user_path(@user), class: 'btn btn-block btn-secondary' %>
				</div>
				<div class="float-right">
					<%= link_to 'Paramètres de connexion', edit_user_registration_path, class: 'btn btn-block btn-outline-secondary' %>
				</div>
			</div>

		</div>


		<!-- COMMITMENTS TAKEN BY USER -->
		<h1 class="border-0 text-dark mb-0">
			Les Mouvements que vous avez rejoint
		</h1>
		<div class="card border mt-2 mb-3 ">
			<div class="card-body border-0 p-0">
				<table class="table table-sm border-0">
					<thead>
						<tr class="border-0 table-bordered table-primary">
							<th scope="col" class="bg-primary border-0"> <h6>Mouvement</h6></th>
							<th scope="col" class="border-0 bg-primary"> <h6>Description</h6></th>
						</tr>
					</thead>
					<tbody class="border-0">
						<% if @user_commitments.length > 0 %>
							<% @user_commitments.each do |user_commitment| %>
								<tr>
									<td class="border-0">
										<%= link_to "#{user_commitment.commitment.title}", commitment_path(user_commitment.commitment.id) %>
									</td>
									<td class="border-0">
										<%= user_commitment.commitment.description %>
									</td>
								</tr>
							<% end %>
						<% else %>
							<p>Vous n'avez adhéré à aucun Mouvement pour le moment.</p>
						<% end %>
					</tbody>
				</table>
			</div>
			<div>
				<%= link_to 'Tous les Mouvements', commitments_path, class: 'btn btn-secondary float-right' %>
			</div>
		</div>


		<!-- THEMES FOLLOWED BY USER -->
		<h1 class="border-0 text-dark mb-0 mt-4">
			Les Thèmes que vous suivez
		</h1>
		<div class="card border mt-2 mb-3">
			<div class="card-body border-0 p-0">
				<table class="table table-sm border-0">
					<thead>
						<tr class="border-0 table-bordered table-primary">
							<th scope="col" class="bg-primary border-0"><h6>Thème</h6></th>
							<th scope="col" class="border-0 bg-primary"><h6>Description</h6></th>
						</tr>
					</thead>
					<tbody class="border-0">
						<% if @user.themes.length > 0 %>
							<% @user.themes.each do |each_theme| %>
								<tr>
									<td class="border-0">
										<%= link_to "#{each_theme.title}",theme_path(each_theme.id) %>
									</td>
									<td class="border-0">
										<%= each_theme.description %>
									</td>
								</tr>
							<% end %>
						<% else %>
							<p>Vous ne suivez aucun Thème pour le moment.</p>
						<% end %>
					</tbody>
				</table>
			</div>
			<div>
				<%= link_to 'Tous les Thèmes', themes_path, class: 'btn btn-secondary float-right' %>
			</div>
		</div>

	</div>
</div>	
