<h1><%= @user.username %></h1>
<h2>Informations générales</h2>
<p>Email : <%= @user.email %></p>
<p>First Name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>
<p>Department : <%= @user.department %></p>
<h2>Toutes vos adhésions</h2>
<% if @user_commitments.length > 0%>
  <% @user_commitments.each do |user_commitment| %>
    <p><%= link_to "#{user_commitment.commitment.title}", commitment_path(user_commitment.commitment.id) %> : <small><%= user_commitment.commitment.description %></small></p>
    <% end %>
  <% else %>
    <p>Vous n'avez adhérez à aucun mouvement pour le moment</p>
<% end %>
<%= link_to 'Adhérer à un mouvement', commitments_path, class: 'btn btn-primary' %>
