<div class="container col-sm-11 m-auto">

	<!-- TITLE (USERNAME) -->
	<div class="container text-center mt-3 p-2 pt-3 pb-3 border-primary bg-light">
		<h4><small>pseudonyme</small> : <%= @user.username %></h4>
	</div>


	<!-- PROFILE INFORMATIONS -->
	<div class="card mt-2"> 
		<h5 class="card-header text-center">
			Informations
		</h5>
		<div class="card-body p-0">
			<table class="table table-striped table-sm">
				<tbody>
					<tr><td>e-mail</td><td><%= @user.email %></td></tr>
					<tr><td>Prénom</td><td><%= @user.first_name %></td></tr>
					<tr><td>Nom</td><td><%= @user.last_name %></td></tr>
					<tr><td>Département</td><td><%= @user.department %></td></tr>
					<tr><td>Mouvements</td><td><%= @user.commitments.count %></td></tr>
					<tr>
						<td>Affichage de l'identité</td>
						<% if @user.name_display == true %>
							<td>Nom et Prénom</td>
						<% else %>
							<td>Pseudonyme</td>
						<% end %>
					</tr>
					<tr><td>Inscrit aux emails</td>
					<% if @user.accept_mails %>
					<td>Oui</td></tr>
					<% else %>
					<td>Non</td></tr>
					<% end %>
					<tr><td>Membre depuis</td><td><%= @user.created_at.to_date.to_s(:long) %></td></tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- EDITION BUTTONS -->
	<div class="container mt-2">
		<div class="row">
			<div class="col-md-6 p-0">
				<%= link_to 'Editer votre profil', edit_user_path(@user), class: 'btn btn-block btn-warning' %>
			</div>
			<div class="col-md-6 p-0">
				<%= link_to 'Paramètres de connexion', edit_user_registration_path, class: 'btn btn-block btn-danger' %>
			</div>
		</div>
	</div>

	<!-- COMMITMENTS TAKEN BY USER -->
	<div class="card mt-2">
		<h5 class="card-header text-center">
			Vos Mouvements 
		</h5>
		<div class="card-body p-0">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">Mouvement</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<% if @user_commitments.length > 0 %>
						<% @user_commitments.each do |user_commitment| %>
							<tr>
								<td>
									<%= link_to "#{user_commitment.commitment.title}", commitment_path(user_commitment.commitment.id) %> :
								</td>
								<td>
									<%= user_commitment.commitment.description %>
								</td>
							</tr>
						<% end %>
					<% else %>
						<p>Vous n'avez adhéré à aucun Mouvement pour le moment.</p>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>


	<%= link_to 'Adhérer à un Mouvement', commitments_path, class: 'btn btn-block btn-primary mt-2' %>
</div>
