
	<div class="jumbotron d-flex align-items-center justify-content-center">
		
				<%= link_to "Tous les Mouvements", commitments_path, class: 'btnjumb btn btn-primary mr-3 mb-3' %>
				<%= link_to "Toutes nos Statistiques", statistics_path, class: 'btnjumb btn btn-primary mb-3' %>
			
	</div>

	<!-- PRESENTATION -->
	<div class="container text-center mt-5 mb-5" id="presentation">
	

		<p><a href="<%= about_path %>">Le Lobby</a> est un réseau militant visant à fédérer particuliers, associations et entreprises au travers des mouvements qu'ils rejoignent.<br/></p>
		<p>Il se donne pour objectif la création d’une plateforme web centralisant l’information, l’action, ainsi que la volonté d’engagement –  <strong>les Mouvements</strong> - de ces acteurs.</p>	
		<p><%= link_to "Inscrivez-vous", new_user_registration_path, class: "font-weight-bold" %> gratuitement pour profiter d'une plateforme sans publicité centralisant les engagements pris par les acteurs de l'écologie.</p>
		<p>Vous avez une suggestion ? Vous souhaitez devenir partenaire ?</p>
		<p><%= link_to "Contactez-nous", new_contact_path, class: "font-weight-bold" %>, votre message sera reçu par nos administrateurs en charge du site.</p>
	
	</div>

<h3 class= "text-center mb-5">Mouvement le plus populaire</h3>

<div class="container">

			<a href="<%= commitment_path(Commitment.by_popularity[0].id) %>">
			<h6 class="card-title"><%= Commitment.by_popularity[0].title  %></h6>
			<p class="card-text"><%= Commitment.by_popularity[0].description %></p>
		
			<%= line_chart(Commitment.by_popularity[0].users_by_day, legend: false) %>
			</a>

</div>




