
<h2 class="text-center pb-4"> Liste des Mouvements  </h2>

<% if @commitments.count == 0 %>
  <div class="list-group">
    <div class="list-group-item">
      Il n'y a pas de Mouvement actuellement sur le Lobby...
    </div>
  </div>

<% else %>

<div class="row">
  <% @commitments.each do |each_commitment| %>

    <div class="col-sm-6 p-2">
      <div class="card commitement" style="min-height: 200px">
         <a href="<%= commitment_path(each_commitment.id)%>" style="text-decoration: none">
        <div class="card-body">
          <h5 class="card-title text-center"> <%= each_commitment.title %> </h5>
          <p class="card-text text-center"> <%= each_commitment.description %> </p>
          <p class="card-text text-center size:5"> Membres inscrit : <%= each_commitment.users.count %> </p>
          <p class='text-center m-0'><%= fa_icon "leaf 2x" %> </p>
        </div>
         </a>
      </div>
    </div>

  <% end %>
<% end %>
</div>
