<h1>COMMITMENTS#SHOW</h1>
<h3>in app/views/commitments/show.html.erb</h3>

<div>Titre : <%= @commitment.title %></div>
<div>Description : <%= @commitment.description %></div>

<h4>Liste des Users ayant souscrit a ce Commitment</h4>

<div class="list-group">

	<% if @commitment.users.count == 0 %>

		<div class="list-group-item">
			Il n'y a pas d'User ayant souscrit a ce Commitment.
		</div>

	<% else %>

		<% @commitment.users.each do |each_user| %>
			<div class="list-group-item">
				<div class="col-3"><%= each_user.email %></div>
				<div class="col-3"><%= each_user.username %></div>
			</div>
		<% end %>

	<% end %>

</div>

<% if user_signed_in? %>
	<% if current_user.commitments.include?(@commitment) %>
		<%= link_to "Retirer ce Commitment", commitment_user_commitment_path(@commitment.id, @commitment.user_commitments.find_by(user: current_user)), method: 'delete', class: 'btn btn-danger btn-block' %>
	<% else %>
		<%= link_to "Prendre ce Commitment", commitment_user_commitments_path(@commitment.id), method: 'post', class: "btn btn-block btn-success" %>

	<% end %>
<% end %>

<%= link_to "Retour aux Commitments", commitments_path, class: "btn btn-block btn-info" %>
