


<br/>



<div class="container col-sm-11 m-auto border">

    <div class= "text-center pb-2 pt-3 pb-3 ">
      <h4> <%= @commitment.title%></h4>
       <% if user_signed_in? %>
        <% if current_user.commitments.include?(@commitment) %>
            <%= link_to "Retirer ce Commitment", commitment_user_commitment_path(@commitment.id, @commitment.user_commitments.find_by(user: current_user)), method: 'delete', class: 'btn btn-danger btn-block' %>
        <% else %>
            <%= link_to "Prendre ce Commitment", commitment_user_commitments_path(@commitment.id), method: 'post', class: "btn btn-block btn-success" %>

        <% end %>
    <% end %>
    </div>

    <div class="row">
        <div class="col-sm-4 border">
            <div class="header p-3"> <h5>Description : </h5></div>
                <p class="p-3"><%= @commitment.description %>  </p>
        </div>

        
        <div class="col-sm-8 border firstline">
          
          <div class="row">
                <div class="col-sm-7 border-bottom">
                  <div class="header p-4"><h5>Chiffres: </h5></div>
                  <p class="p-4">blabakbazjkfbeafbezjfbzejbgzkjgblabakbazjkfbeafbezjfbzejbgzkjgbblabakbazjkfbeafbezjfbzejbgzkjgbb </p>
                </div>

                <div class="cheese col-sm-5 border">
                </div>

          </div>

          <div class=" grafik col-sm-12">
          </div>

        </div>


    </div>



</div>











<br/><br/>
 <% if user_signed_in? %>
        <% if current_user.commitments.include?(@commitment) %>
            <%= link_to "Retirer ce Commitment", commitment_user_commitment_path(@commitment.id, @commitment.user_commitments.find_by(user: current_user)), method: 'delete', class: 'btn btn-danger btn-block' %>
        <% else %>
            <%= link_to "Prendre ce Commitment", commitment_user_commitments_path(@commitment.id), method: 'post', class: "btn btn-block btn-success" %>

        <% end %>
    <% end %>


<br/><br/>


<div class= "bg-primary text-center pt-2 pb-1">
       <h5 class= "text-white align-middle">Liste des Users ayant souscrit a ce Commitment</h5>
  </div>

<br/>

  
<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col"> Utilisateur </th>
			<th scope="col">Départment</th>
			<th scope="col">Nombre de Commitments</th>
		</tr>
	</thead>
	<tbody>
		<% if @commitment.users.count == 0 %>
			<tr>Il n'y a pas d'User ayant pris ce Commitment</tr>
		<% else %>
			<% @commitment.users.each do |each_user| %>
				<tr>
					<td><%= each_user.display %></td>
					<td><%= each_user.department %></td>
					<td><%= each_user.commitments.count %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<br/><br/>
    <%= link_to "Retour aux Commitments", commitments_path, class: "btn btn-block btn-warning" %>

</div>

<br/>