<h1>Tous les Thèmes</h1>
<%= link_to 'Créer un Thème', new_admin_theme_path, class: 'btn btn-lg btn-success' %>
<div class="list-group">
	<% if @themes.count == 0 %>
		<div class="list-group-item">
			Il n'y a pas de Thème sur le Lobby...
		</div>
	<% else %>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>TITRE </th>
						<th>NB DE USERS</th>
					</tr>
				</thead>
				<tbody>
					<% @themes.each do |each_theme| %>
						<tr>
							<td class='text-center'><%= each_theme.id %></td>
							<td><%= each_theme.title %></td>
							<td class='text-center'><%= each_theme.users.count %></td>
							<td><%= link_to 'Editer', edit_admin_theme_path(each_theme.id), class: 'btn btn-secondary' %></td>  
							<td><%= link_to 'Supprimer', admin_theme_path(each_theme.id), method: 'delete', data: {confirm: 'Êtes-vous sûr ?'}, class: 'btn btn-danger' %></td>
						</tr>
					<% end %>
				</tbody> 
			</table>
		</div>
	<% end %>
</div>

