<%= @post.title %>
<%= @post.user.username %>
<%= @post.content %>
<% if current_user == @post.user %>
  <%= link_to 'Supprimer', post_path(@post), method: 'delete', data: {confirm: 'Êtes-vous sûr ?'} %>
  <%= link_to 'Editer', edit_post_path(@post) %>
<% end %>
<% unless current_user %>
  <p>Pour répondre à ce post vous devez vous <%= link_to 'Connecter', new_user_session_path %> ou vous <%= link_to 'Inscrire', new_user_registration_path %></p>
<% end %>
<% if @replies.size > 1 %>
  <% @replies.each do |reply| %>
    <% @user = reply.user %>
    <% unless reply.id.class == NilClass %>
      <p><%= @user.username  %> on <%= reply.created_at.to_s[0..9]%>  :
        <%= reply.content %> </p>
      <% if @user == current_user %>
        <%= link_to 'Détruire la réponse', post_reply_path(@post, reply), method: 'delete', data: {confirm: "Êtes-vous sûr ?"} %></p>
        <%= link_to 'Editer la réponse', edit_post_reply_path(@post, reply) %></p>
    <% end %>
  </p>
  <% end %>
<% end %>
<% end %>
