<div class="container">
	<h1>Éditer le Mouvement</h1>

	<%= form_with(model: @commitment, url:  admin_commitment_path, method: "patch") do |f| %>
		<fieldset class="form-group">

			<h5 class="mt-4">Modifier Informations du Mouvement</h5>
			<p><label>Titre</label>
			<%= f.text_field :title, class:"form-control border" %></p>
			<p><label>Description</label>
			<%= f.text_field :description, class:"form-control border" %></p>

			<h5 class="mt-4">Modifier Thèmes</h5>
			<h6>Si les champs sont vides, il s'agit d'un nouveau Thème, vous ne pouvez pas le Supprimer</h6>
			<div class="row">
				<%= f.fields_for :commitment_themes do |ct_form| %>
					<div class="col-6">
						<%= ct_form.label "Thème" %>
						<%= ct_form.select :theme_id, Theme.all.collect { |t| [t.title, t.id] }, { :prompt => 'Modifier Theme' }, class: "form-control border" %>
						<div class="bg-warning border mt-2 p-3 clearfix">
							<%= ct_form.label "Supprimer ce Thème", class: "float-left font-weight-bold" %>
							<%= ct_form.check_box :_destroy, class: "float-right" %>
						</div>
					</div>
				<% end %>
			</div>

			<h5 class="mt-4">Modifier Sources</h5>
			<h6>Si les champs sont vides, il s'agit d'une nouvelle Source, vous ne pouvez pas la Supprimer</h6>
			<div class="row">
				<%= f.fields_for :sources do |s_form| %>
					<div class="col-4">

						<%= puts s_form %>

						<%= s_form.label "Titre" %>
						<%= s_form.text_field :title, class: "form-control border" %>

						<%= s_form.label "Média" %>
						<%= s_form.text_field :media, class: "form-control border" %>

						<%= s_form.label "URL" %>
						<%= s_form.text_field :url, class: "form-control border" %>

						<%= s_form.label "Description" %>
						<%= s_form.text_field :description, class: "form-control border" %>

						<%= s_form.label "Catégorie" %>
						<%= s_form.select :category, ["Article", "Étude", "Manifeste"], { :prompt => 'Modifier une Catégorie' }, class: "form-control border" %>

						<div class="bg-warning border mt-2 p-3 clearfix">
							<%= s_form.label "Supprimer cette Source", class: "float-left font-weight-bold" %>
							<%= s_form.check_box :_destroy, class: "float-right" %>
						</div>
					</div>
				<% end %>
			</div>

		</fieldset>
		<button type='submit' class='btn btn-primary mt-3'>Éditer</button>
	<% end %>
</div>
