<div class="container my-4">
<h2>Tous les Mouvements</h2>
<%= link_to 'Créer un Mouvement', new_admin_commitment_path, class: 'btn btn-primary' %>
<div class="list-group">
  <% if @commitments.count == 0 %>
    <div class="list-group-item mt-4">
      Il n'y a pas de Commitment sur le Lobby...
    </div>
  <% else %>
    <div class="table-responsive mt-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>TITRE </th>
            <th>UTILISATEURS</th>
          </tr>
        </thead>
        <tbody>
          <% @commitments.each do |each_commitment| %>
            <tr id='<%= each_commitment.id %>'>
              <td><%= each_commitment.id %></td>
              <td ><%= each_commitment.title %></td>
              <td><%= each_commitment.users.count %></td>
              <td><%= link_to 'Editer',  edit_admin_commitment_path(each_commitment.id), class: 'btn btn-outline-secondary' %></td>
              <td><%= link_to 'Supprimer', admin_commitment_path(each_commitment.id), method: 'delete', data: {confirm: 'Êtes-vous sûr ?'}, remote: true, class: 'btn btn-secondary' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
</div>
