<h1>Editer l'utilisateur</h1>


<%= form_with(model: @user, url:  admin_user_path, method: "patch") do |f| %>
<p><label>Nom d'utilisateur</label>
    <%= f.text_field :username, class:"form-control border" %></p>
  <p><label>Prénom</label>
    <%= f.text_field :first_name, class:"form-control border" %></p>
  <p><label>Nom</label>
    <%= f.text_field :last_name, class:"form-control border" %></p>
  <p><label>Email</label>
    <%= f.text_field :email, class:"form-control border" %></p>
  <p><label>Département</label>
    <%= f.select :department, @departement, {}, class:"form-control col-2 border" %></p>
  <br>
  <div class="form-check">
    <%= f.check_box :name_display, class:"form-check-input" %>
    <label class="form-check-label">L'utilisateur souhaite que son prénom et son nom soient affichés sur le site (besoin d'une preuve écrite de l'utilisateur)</label>
  </div>
  <br>
  <button type='submit' class='btn btn-primary'>Editer le profil</button>
<% end %>