<h1>Editer l'utilisateur</h1>


<%= form_with(model: @user, url:  admin_user_path, method: "patch") do |f| %>
<p><label>Username</label>
<%= f.text_field :username, class:"form-control" %></p>

<p><label>Prénom</label>
<%= f.text_field :first_name, class:"form-control" %></p>

<p><label>Nom</label>
<%= f.text_field :last_name, class:"form-control" %></p>

<p><label>Email</label>
<%= f.text_field :email, class:"form-control" %></p>

<p><label>Département</label>
<%= f.select :department, @departement, class:"dropdown" %></p>
<br>
<p><label>Afficher son prénom et nom ?</label>
<br>
<%= f.check_box :name_display, class:"form-check" %></p>

<button type='submit' class='btn btn-primary'>Edit</button>
<% end %>
