<div class="container my-5">
	<div class="alert alert-primary alert-dismissible fade show mb-5" role="alert">
		<strong>Avertissement :</strong><br />
		Vous êtes sur le point d'éffectuer un don, merci de bien vouloir vérifier le prix inséré avant d'éffectuer le payement, le montant minimum 1 Euros
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
		<strong>Avertissement :</strong><br />
		Fonctionnalité en cours de test.
		Votre Carte Bleue ne fonctionnera pas.
		Vous ne serez pas facturés.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="container border text-center bg-light p-3 shadow">
		<p class="float-right"><%= fa_icon "leaf 2x" %></p>
		<h1 class="px-2">
			Paiement <br/>
		</h1>
		<hr>
		<p class="px-2">
		Merci d'avoir choisi de soutenir le Lobby.<br/><br/>
		Vous recevrez un e-mail de confirmation de votre don à l'adresse que vous rentrerez dans le formulaire qui apparaîtra lorsque vous cliquerez sur le bouton "Pay with Card".
		</p>
		<p>
		<%= form_tag charges_path do %>
			<article>
				<% if flash[:error].present? %>
					<div id="error_explanation">
						<p><%= flash[:error] %></p>
					</div>
				<% end %>
				<label>
					<p class="px-4">Montant du don : <%= @amount %> &euro; </p>
					<%= hidden_field_tag :@amount, @amount %>
				</label>
			</article>

			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Effectuer un Don" data-amount=<%= @amount  * 100 %> data-currency="eur" data-locale="auto"></script>
		<% end %>
		</p>
	</div>
</div>
