
<nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center">
	<a class="navbar-brand text-white" href="<%= root_path %>">LE LOBBY</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse " id="navbarColor01">

		<ul class="navbar-nav mr-auto ml-3">
			<li class="nav-item active">
				<a class="nav-link text-muted" href="<%= commitments_path %>">
					Mouvements<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-muted" href="<%= themes_path %>">
					Thèmes<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-muted" href="<%= statistics_path %>">
					Statistiques<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-muted" href="<%= posts_path %>">
					Forum<span class="sr-only">(current)</span>
				</a>
			</li>
		</ul>

		<ul class= "navbar-nav d-flex align-items-center">

			<!-- ADMIN BUTTONS -->
			<% if isAdmin? %>
				<li class="nav-item">
					<%= link_to "Gestion des Mouvements", admin_commitments_path, class:'nav-link text-white' %>
				</li>
				<li class="nav-item">
					<%= link_to "Gestion des Utilisateurs", admin_users_path, class:'nav-link text-white' %>
				</li>
			<% end %>

			<!-- USER BUTTONS -->
			<% if user_signed_in? %>
				<li class="nav-item">
					<%= link_to "Profil", user_path(current_user.id), class: 'nav-link text-white' %>
				</li>
				<li class="nav-item pt-1 mb-1">
					<%= link_to "Déconnexion", destroy_user_session_path, class: "btn btn-primary", method: 'delete' %>
				</li>
			<% else %>
				<li class="nav-item pt-1 mb-1">
					<%= link_to "Inscription", new_user_registration_path, class: "btn btn-primary"%>
				</li>
				<li class="nav-item pt-1 mb-1">
					<%= link_to "Connexion", new_user_session_path, class: "btn btn-outline-primary" %>
				</li>
			<% end %>

		</ul>
	</div>
</nav>

